# Next.js
.next/
out/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env*.local

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/

# npm package manager
package-lock.json

# yarn package manager
yarn.lock

# vercel
.vercel/

# Logs
logs/
*.log

# Thumbnails
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.project/
.classpath
*.sublime-project
*.sublime-workspace

# Build artifacts
build/
dist/

# Dependency directories
jspm_packages/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory

# Other
*.swp
*.bak
*.swo
